/* tailwind 4.0 버전 변경 */

@import "tailwindcss";

@theme {
  --color-background: #ffffff;
  --color-foreground: #171717;
  --color-primary: #97d2c2;
  --color-placeholder: #f2f4f5;
  --color-error: #ff0000;

  --color-one: #ff5733; /* 빨강 */
  --color-two: #ff8d1a; /* 주황 */
  --color-three: #ffc300; /* 노랑 */
  --color-four: #28b463; /* 초록 */
  --color-five: #3498db; /* 파랑 */
  --color-six: #8e44ad; /* 보라 */
  --color-seven: #95a5a6; /* 회색 */

  --breakpoint-sm: 540px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1200px;
}
